---
// pages/[projectSlug].astro
import ProjectLayout from '../layouts/ProjectLayout.astro';
import { projects } from '../data/projects';

export function getStaticPaths() {
  return projects.map(project => ({
    params: { projectSlug: project.slug },
    props: { project }
  }));
}

const { project } = Astro.props;
---

<ProjectLayout
  title={project.title}
  description={project.description}
  image={project.image}
>
  <div class="project-content">
    <p>{project.fullDescription || "Detailed project information will be added soon."}</p>

    {project.technologies && (
      <>
        <h3>Technologies Used</h3>
        <ul>
          {project.technologies.map(tech => <li>{tech}</li>)}
        </ul>
      </>
    )}

    {project.link && (
      <div class="mt-4">
        <a href={project.link} target="_blank" class="button primary">View Project</a>
      </div>
    )}
  </div>
</ProjectLayout>